# secrets
*secrets.yml
*.pem

/.config
/coverage/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

## Environment normalization:
/.bundle
/vendor

/log/*.log

.DS_Store
.vimrc
*.swp

.project
